body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.navbar{
    background-color: #fcd4e4;
}

.home{
    background-color: #ffedf4;
}

.about-us{
    background-color: #ffedf4;
    color: #494949;
}

.margin{
    padding-bottom: 40px;
    padding-top: 10px;
}

.gallery{
    background-color: #fadfee;
}

.bg-footer{
    background-color: pink;
}